* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

/* Text Settings */

h1 {
  font-size: 40px;
  color: #64B6CA;
  line-height: 43px;
  display: inline;
  padding-bottom: 10px;
  text-align: center;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

h2 {
  font-size: 24px;
  color: #0A76A2;
  line-height: 29px;
  margin-bottom: 20px;
  border-bottom: 1px solid #5AB4CA;
  padding-bottom: 20px;
}

h3 {
  font-size: 20px;
  color: #0A76A2;
  margin-top: 20px;
  line-height: 25px;
}

h4 {
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  line-height: 17px;
  margin-bottom: 15px;
  text-align: center;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

span {
  padding: 5px;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.button {
  font-size: 18px;
  line-height: 48px;
  padding: 0px 25px;
  border-radius: 20px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border-radius: 999em;
  width: 80%;
}
.button:hover {
  border: 1px solid #096B98;
  color: #096B98;
  background-color: #5AB4CA;
}

/* Text Color Classes */

.white-text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Breadcrumbs */

.top {
  float:right;
  padding-right: 5%;
}

/* Grid Layout */

.grid {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

.clear-fix {
  overflow: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

header, 
section, 
footer {
  padding: 25px 0px 40px;
}

.column {
    display: inline-block;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 18%;
}

.col-4 {
    width: 22%;
}

.col-5 {
    width: 40%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Sections */

.imageback {
  background: url('../images/background.png');
}

.imageback .top, .imageback h2 {
  color: #fff;
}

.imageback h2 {
  border-bottom: 1px solid #fff;
}

.blue, .white {
  clear: both;
}

.blue {
  background-color: rgba(51, 165, 189, 0.2);
}

.blue h4 {
  color: #278FAF;
}

.white {
  background: #fff;
}

.white h2 {
  border-bottom: 1px solid #4199C7;
}

.dark-blue {
  background-color: #278FAF;
}

/* Top Contact Bar */

#top {
  padding: 10px;
}

.blue-text {
  color: #2791B0;
  font-size: 11px;
}

.grey-text {
  color: #33353A;
  font-size: 11px;
}

/* Header Bio */

header {
  height: 100%;
  min-height: 70vh;
}

header .left {
  float: left;
}

.biopic {
  float: left;
  margin: 0 20px 25px 0px;
  width: 190px;
  border-radius: 50%;
  padding: 0;
  max-width: 260px;
}

header .left h1 {
  text-align: center;
}

header .left .role {
  color: #fff;
  font-weight: normal;
  padding: 0;
  font-size: 21.5px;
  border: none;
}

header .left .button {
  width: 50%;
}

header .right {
  float: right;
}

header .right h5 {
  padding: 15px 10px 10px;
  font-size: 15px;
  color: #176D89;
}

#skillbox {
  border: 1px dashed #096B98;
  padding: 0px 20px 10px 10px;
  width: 90%;
  background:rgba(255,255,255, 0.3);
}

#skills-h3 {
  font-size: 26px;
  line-height: 30px;
  color: #176D89;
  padding: 0 10px;
  font-family: 'Bangers', cursive;
}

#skillbox ul {
}

#skills li{
  width: 100%;
  padding: 5px 5px 5px 10px;
  margin-bottom: 8px;
  background:rgba(255,255,255, 0.4);
}

#skills li:nth-child(1)  { background-color: #B5222D; }
#skills li:nth-child(2)  { background-color: #CE1616; }
#skills li:nth-child(3)  { background-color: #D4953C; }
#skills li:nth-child(4)  { background-color: #609491; }
#skills li:nth-child(5)  { background-color: #38A7BF; } 

/* Navigation */

#navbar {
  visibility: hidden;
  background: #278FAF;
  position: fixed;
  bottom: 85px;
  width: 100%;
  z-index: 1001;
  padding: 0 5%;
  overflow: visible;
  border-top: 3px solid #fff;
  transition: ease-in-out, width .35s ease-in-out;
}

#navbar .flex-box {
  padding: 0;
  justify-content: center;
}

#navbar.past-main {
  visibility: visible;
}

#navicon {
  width: 120px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  margin-top: -12px;
  transition: ease-in-out, width .35s ease-in-out;
}

nav {
  margin-left: 5%;
  padding: 0 7%;
}

nav ul{
    margin: 0;
    padding: 0;
    float: right;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
}

nav ul li a {
    color: #fff;
    line-height: 2em;
    text-decoration: none;
    padding: 0em 1.25em 0.8em;
}

nav ul li ul {
    display: none;
    list-style: none;
    background: #e68513;
    min-width: 100%;
    white-space: nowrap;
}

nav ul > li a:before {

}

nav li:hover {
    background-color: #5BB7CC;
}

nav li:hover > ul {
    position: absolute;
    display : block;
}

/*Tagline Bar */

#tagline {
  background:  #fff;
  position: fixed;
  bottom: 0;
  width: 90%;
  left: 0;
  z-index: 1000;
  padding: 2em 5em;
  /*background:  #33353A;*/
}

#tagline #typed {
  font-size: 20px;
  color: #096B98;
}

.type-wrap {
  text-align: center;
}

.typed-cursor{
    opacity: 1;
    font-weight: 100;
    color: #33353A;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* All Sections Data Entry */

.education-entry,
.course-entry,
.work-entry,
.project-entry,
.quote-entry {
  padding: 10px 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  float: right;
  background: #278FAF;
  padding: 8px;
  margin-top: -20px;
  /*font-family: 'Bangers', cursive;*/
}

/* Work Section */

.work-entry .left img {
  max-width: 100%;
  max-height: 130px;
  padding-top: 20px;
}

/* Quotes Section */

.quote-entry {
  margin-bottom: 15px;
}

.quote-entry p {
  color: #fff;
  font-size: 18px;
}

iframe {
  margin-top: 30px;
}

/* Educaction Section */

.sub {
  margin-top: 40px;
}

.course-entry a {
  margin-top: 55px;
}

.course-entry .card {
  text-align: center;
  width: 100%;
  height: 200px;
}

.course-entry .card span {
  text-decoration: italic;
  font-size: 12px;
}

.course-entry .front {
  background: #D6EDF2;
}

.course-entry .back {
  background: #278FAF;
}

.course-entry .back a{
  color: #fff;
}

.course-entry .date-text {
  float: none;
  margin-top: 20px;
  text-align: center;
}

/* Projects Section */

.project-entry {
  margin-bottom: 20px;
}

/* Languages Section */

#canvas-holder {
  padding: 2% 5% 0;
}

#languages h4 {
  margin-top: 20px;
}

.wordpress {
  margin-left: 10%;
}

.wordpress img, .opencart img {
  padding: 10px;
  vertical-align: super;
}

.wordpress img:hover, .opencart img:hover {
  background: #fff;
}

/* Map Section */

#mapDiv {
  padding: 20px 0 100px;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

/* Footer */
footer {
  height: 230px;
  padding: 10px 5%;
  text-align: center;
}

footer p {
  color: #888;
}

/* Media Queries */

@media only screen and (max-width: 1040px) {
  h1 {
    font-size: 37px;
    line-height: 39px;
}
  .button { 
    font-size: 15px;
    width: 80%;
    margin-bottom: 60px;
}
  header {
    height: 100%;
  }
  header .left .role {
    padding: 13px 0 0;
    font-size: 19px;
    width: 90%;
  }
  #skillbox {
    padding: 10px 20px 10px 10px;
    width: 80%;
    margin: 0 0 0 5%;
    text-align: center;
  }

  #skills-h3 {
  }

  #skills li{
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: 5px 5px 5px 10px;
  }
  #navicon {
    margin-top: -5px;
  }

  nav ul li a {
    font-size: 15px;
     padding: 0em 0.7em 0.8em;
  }
  #tagline {
    padding: 2em 3em;
  }
  #tagline #typed {
    font-size: 17px;
  }
  .project-entry {
    width: 90%;
  }
  #languages h4 {
    font-size: 12px;
  }
  footer {
    height: 18em;
  }
}

@media only screen and (max-width:750px) {
  img {
    display: inline-block;
  }
  .button {
    width: 60%;
    margin: 4% 20%;
  }
  .flex-box {
    justify-content: center;
  }
  .col-3 {
    width: 42%;
  }
  .col-4 {
    width: 90%;
    padding: 0 5%;
  }
  .col-5 {
    width: 42%;
  }
  .col-6 {
    width: 100%;
  }
  .col-10{
     width: 90%;
    padding: 0 5%;
  }
  #skillbox {
    float: none;
    margin: 5% 6%;
    width: 80%;
  }
  header {
    height: 100%;
  }
  header .left {
    text-align: center;
  }
  .biopic {
    width: 40%;
    margin: 4% 30%;
  }
  #navbar {
    position: fixed;
    bottom: 5em;
    padding: 0;
  }
  #navicon {
    display: none;
  }

  nav {
    margin-left: 0;
    padding: 0 7%;
  }

  nav ul li {
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;
      float: left;
      transition: all 0.2s ease;
  }

  nav ul li a {
      color: #fff;
      line-height: 1.2em;
      text-decoration: none;
      font-size: 14px;
      padding: 0em 0.7em 0.8em;
  }
  #tagline {
    padding: 2em 3.5em 2em 1.5em;
  }
  #tagline #typed {
    font-size: 17px;
  }
 .course-entry, .work-entry {
    margin-bottom: 20px;
  }
  .work-entry {
    padding: 0;
  }
  .work-entry img {
    display: none;
  }
  .project-entry {
    margin-bottom: 40px;
    width: 90%;
  }
  .course-entry:last-of-type, .work-entry:last-of-type, .project-entry:last-of-type {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 550px) {
  img {
    width: 100%;
  }
  .button {
    margin-left: 7%;
  }
  .col-3 {
    width: 90%;
    padding: 0 5%;
  }
  .col-4 {
    width: 90%;
    padding: 0 5%;
  }
  .col-5{
    width: 90%;
    padding: 0 5%;
  }
  .col-6 {
    width: 100%;
    display: block;
  }
  .top {
    font-size: 12px;
    padding: 10px;
  }
  header .left .button {
    width: 70%;
    font-size: 14px;
  }
  header .left .role {
    width: 100%;
  }
  .biopic {
    width: 70%;
    margin: 4% 22%;
  }
  header .right h5 {
    color: white;
  }
  #skillbox {
    border: 1px solid white;
    padding: 10px 20px 10px 10px;
    width: 80%;
    margin: 10% 5%;
    text-align: center;
    background: none;
  }

  #skills-h3 {
    color: #64B6CA;
  }

  #skills li{
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: 5px 5px 5px 10px;
  }
  #tagline {
    position: relative;
    min-height: 100px;
    margin: 2em 8%;
    padding: 30px 20px 30px ;
    width: 75%;
    background: #64B6CA;
  }
  #tagline::before {
    content: "Introduction: ";
    color: #fff;
  } 
  #tagline #typed {
    font-size: 18px;
  }
  #navbar {
    bottom: 0;
  }
  .location-text {
    float: none;
    margin-top: 30px;
  }
  .education-entry {
    margin: 10px 0 ;
    padding-bottom: 35px;
    border-bottom: 1px dashed #ccc;
  }
  .wordpress, .opencart {
    width: 75%;
    margin-left: 6%;
  }
  footer {
    height: 12em;
  }
  footer img {
    max-width: 100px;
  }
}

@media only screen and (max-width: 460px) {
  .biopic {
      width: 70%;
      margin: 4% 15%;
    }
  footer {
    height: 14em;
  }
}